<!--The content below is only a placeholder and can be replaced.-->
<div class="app"  >
  <!--<h1 [innerHTML]="title"></h1>
  <h1 >{{ title }}</h1>
  <img [src]="logo" alt="logo" >
  <br/>-->
  <!--<button (click)="handleClick()" >Click</button>
  <input type="text"
        [ngModel]="name"
        (ngModelChange)="handleChange($event)">
        <br/><br/>
  <input type="text"
        [(ngModel)]="name">-->
  <!--<button (click)="handleClick(username.value)">Get Value</button>-->
  <input type="text" #username [value]="name" (input)="handleChange($event.target.value)">

  <br/>
  <div *ngIf="name.length > 2" >
    Searching for... {{ name }}
  </div>
  <ng-template [ngIf]="name.length > 3">
    <div >
      Searching for... {{ name }}
    </div>
  </ng-template>
  <br/><br/>
  <!--<div>
    <h3>Airline Passengers</h3>
    {{ passengers.length }}
    <ul>
      <ng-template ngFor let-passenger let-i="index" [ngForOf]="passengers">
        <li>
          {{ i }}: {{ passenger.fullname }}
        </li>
    </ng-template>
    </ul>
  </div>-->

  <div>
    <h3>Airline Passengers</h3>
    {{ passengers.length }}
    <ul>
      <li *ngFor="let passenger of passengers; let i = index">
        <span class="status" [class.checked-in]="passenger.checkedIn">
        </span>
        {{ i }}: {{ passenger.fullname }}
      </li>
    </ul>
  </div>

  <div>
    <h3>Airline Passengers</h3>
    {{ passengers.length }}
    <ul>
      <li *ngFor="let passenger of passengers; let i = index">
        <span class="status"
            [ngClass]="{'checked-in': passenger.checkedIn, 'checked-out': !passenger.checkedIn }">
        </span>
        {{ i }}: {{ passenger.fullname }}
      </li>
    </ul>
  </div>

  <div>
    <h3>Airline Passengers</h3>
    {{ passengers.length }}
    <ul>
      <li *ngFor="let passenger of passengers; let i = index">
        <span class="status"
            [ngClass]="{'checked-in': passenger.checkedIn, 'checked-out': !passenger.checkedIn }">
        </span>
        {{ i }}: {{ passenger.fullname }}
      </li>
    </ul>
  </div>

  <div>
    <h3>Airline Passengers</h3>
    {{ passengers.length }}
    <ul>
      <li *ngFor="let passenger of passengers; let i = index">
        <span class="status"
          [style.backgroundColor]="passenger.checkedIn ? '#2ecc71' : '#c0392b'"  >
        </span>
        {{ i }}: {{ passenger.fullname }}
      </li>
    </ul>
  </div>

  <div>
    <h3>Airline Passengers</h3>
    {{ passengers.length }}
    <ul>
      <li *ngFor="let passenger of passengers; let i = index">
        <span class="status"
          [ngStyle]="{ backgroundColor: (passenger.checkedIn ? '#2ecc71' : '#c0392b') }"  >
        </span>
        {{ i }}: {{ passenger.fullname }}
      </li>
    </ul>
  </div>

  <!--<div>
    {{ numberOne + numberTwo }}
  </div>
  <div>
    {{ isHappy ? ':)'  : ':(' }}
  </div>-->

</div>
